{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container product-div">
   <div class="row">
      {% for product in products %}
      <div class="col-sm-4">
         <div class="card" style="width: 18rem;">
            <div class="card-img">
               <img src="{{ product.image.url }}" class="card-img-top" alt="...">
            </div>
            <div class="text-center">
               <h3>{{ product.title }}</h3>
               <p>Minimum Bid Price : {{ product.minBidPrice }}</p>
               <hr>
               <a class="btn btn-primary" href="{%url 'singleproduct' product.id %}">Click to Bid</a>
            </div>
         </div>
      </div>
      {%endfor%}
      
      
     
   </div>
</div>
{% endblock %}


